<div class="container pt-auto mt-auto">
	<footer class="py-3 my-4">
		<ul class="nav justify-content-center border-bottom pb-3 mb-3">
			<li class="nav-item">
				<a href={{ path('app_main') }} class="nav-link px-2 text-body-secondary">Home</a>
			</li>
			<li class="nav-item">
				<a href={{ path('app_collections_index') }} class="nav-link px-2 text-body-secondary">Collections</a>
			</li>
			<li class="nav-item">
				<a href={{ path('app_search', {prompt: ''} ) }} class="nav-link px-2 text-body-secondary">Search</a>
			</li>
			<li class="nav-item">
				<a href={{ url('app_ticket_create') }} id="create-ticket-help" class="nav-link px-2 text-body-secondary">Help</a>
			</li>
		</ul>
		<p class="text-center text-body-secondary">© 2024 Itransition, Intern, Saidazim</p>
	</footer>
</div>
