<form action={{ path('app_comment', {id: item.id} ) }} methods="POST">
	<div class="form-floating shadow-lg">
		<textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" name="content" required></textarea>
		<label for="floatingTextarea2">Type to comment ...</label>
	</div>
	<div class="d-grid gap-2 d-md-flex justify-content-md-end mb-5">
		<button class="btn btn-primary btn-sm me-md-2" type="submit">Send ▶️</button>
	</div>
</form>
