<div class="container my-3">
	<div class="row p-4 pb-0 pe-lg-0 align-items-center rounded-3 border shadow-lg">
		<h4 class="fw-bold text-body-emphasis">{{ comment.user.name }}</h4>
		<p class="lead">{{ comment.content|nl2br }}</p>
	</div>
</div>
