<div class="container my-5">
  <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
    <h5 class="fw-bold text-body-emphasis">{{ comment.user.name }}</h5>
    <p class="lead">{{ comment.content|nl2br }}</p>
  </div>
</div>
