{% extends "base.html.twig" %}

{% block title %}New Collection{% endblock %}

{% block body %}
<h2>Edit Collection</h2>
<form action="{{ path('app_collection_update', {id:collection.id}) }}" method="POST">
  <div class="mb-3">
    <label for="collectionName" class="form-label">Collection Name</label>
    <input type="text" class="form-control" id="collectionName" name="name" value={{ collection.name }} required>
  </div>
  <div class="mb-3">
    <label for="collectionDescription" class="form-label">Description</label>
    <textarea class="form-control" id="collectionDescription" name="description" rows="3" required>{{ collection.description }}</textarea>
  </div>
  <div class="mb-3">
    <label for="collectionCategory" class="form-label">Category</label>
    <select class="form-control" id="collectionCategory" name="category">
      <option value="Other">Other</option>
      <option value="Books">Books</option>
      <option value="Signs">Signs</option>
      <option value="Silverware">Silverware</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
</form>
{% endblock %}
